---
layout: default
---

<div class="home">
 
  <!-- TODO: move this to a markdown file -->
  <div id="intro">
    <div id="intro-left">
      <img id="portrait" src="{{ "/images/portrait.png" | prepend: site.baseurl }}" 
        title="Picture by Raghu Nayyar" alt="my face">
    </div>
    <div id="intro-right">
      <p><span style="font-style:italic">Computer scientist</span></p>
      <p><span style="font-weight:bold">Data Engineer</span> @ <a href='http://bendingspoons.com/'>Bending Spoons</a></p>
      <p>PhD in Quantum Computing from University of Waterloo<p> 
    </div>
  </div>

  {% if paginator.posts.size > 0 %}
  <div id="news">
    <h2>News</h2> 
    
    <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> • 
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    
      <li>
      <div class="pagination">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&laquo; Older news</a>
      {% else %}
        <span class="next ">&laquo; Older news </span>
      {% endif %}
      —
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Fresher news &raquo;</a>
      {% else %}
        <span class="previous">Fresher news &raquo;</span>
      {% endif %}
      </li>
    </ul>

    <p class="rss-subscribe">
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <span class="fa fa-rss" ></span> Subscribe in a reader</a>
    </p>
  </div>
  {% endif %}
</div>

