---
layout: default
title: "Projects"
permalink: /projects/
date: 2015-02-03 02:00:00 CET
---

<div class="home">

{% assign major = site.projects | where:"type","major" | sort: 'date' | reverse %}
{% assign minor = site.projects | where:"type","minor" | sort: 'date' | reverse %}

<h3>Major collaborations</h3>

  <ul class="projects">
    {% for project in major %}
    <li>
        <a href="{{ project.repo_url }} ">
          <span class="project-title">{{ project.title }}</span>
        </a>
        <span class="project-authors">
        Co-authors: 
        {% for author in project.authors %}
          {{ author }}
        {% endfor %}
        </span>
        <span class="project-content">{{ project.content }}</span> 
    </li>
    {% endfor %}
  </ul>

<h3>Minor collaborations</h3>
  <ul class="projects">
    {% for project in minor %}
    <li>
        <span class="project-title">{{ project.title }}</span>
        <span class="project-content">{{ project.content }}</span> 
    </li>
    {% endfor %}
  </ul>  


<p>
  Also check out <a href="https://github.com/cosenal/">my Github's profile</a>
</p>

</div>
