---
layout: default
title: "Projects"
permalink: /projects/
date: 2015-02-03 02:00:00 CET
---

<div class="home">

{% assign major_collaborations = site.projects | where:"type","major" | sort: 'date' | reverse %}
{% assign minor_collaborations = site.projects | where:"type","minor" | sort: 'date' | reverse %}

<h1>Major collaborations</h1>

  <ul class="projects">
    {% for project in major_collaborations %}
    <li>
        <a href="{{ project.repo_url }}" target="_blank">
          <h2 class="project-title">{{ project.title }}</h2>
        </a>
        <span class="project-date">{{ project.date | date: '%Y' }}</span>
        
        {{ project.content }} 
        
        <span class="project-authors">
        Co-author{% if project.authors.size > 1 %}s{% endif %}: 
        {% for author in project.authors %}
          {{ author }}{% if forloop.rindex > 1 %},{% endif %}
        {% endfor %}
        </span>

    </li>
    {% endfor %}
  </ul>

<h1>Minor collaborations</h1>
  <ul class="projects">
    {% for project in minor_collaborations %}
    <li>
        <a href="{{ project.repo_url }}" target="_blank">
          <h2 class="project-title">{{ project.title }}</h2>
        </a>
        
        {{ project.content }}
        
    </li>
    {% endfor %}
  </ul>  


<p>
  For other small projects, check out <a href="https://github.com/cosenal/">my Github's profile</a>.
</p>

</div>
