<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
    <!-- <h2 class="footer-heading">Contact</h2> -->
      <ul>
        <li>Email: <a href="http://cap.owncloud.io/email.html" onclick="window.open('http://cap.owncloud.io/email.html', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">c...</a>@gmail.com
        </li>
        <li>
          <i class="fa fa-key"></i>
          <a href="https://keybase.io/cosenal">
            <span class="username">Keybase.io</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">Github</span>
          </a>
        </li>
        {% endif %}
        <li>
          <span class="fa fa-stack-exchange fa-fw"></span>
          <a href="https://stackexchange.com/users/437474/alessandro-cosentino?tab=accounts">
            <span class="username">StackExchange</span></a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
    <!-- <h2 class="footer-heading">Links</h2> -->
      <ul>
        {% if site.wordpress_url %}
        <li>
          <span class="fa fa-wordpress fa-fw"></span>
          <a href="{{ site.wordpress_url }}">  
            <span class="username">My blog</span>
          </a>
        </li>
        {% endif %}  
        <li>
          <i class="fa-brands fa-mastodon"></i>
          <a href="https://mas.to/@cosenal">
            <span class="username">Mastodon</span></a>
        </li>
        <li>
          <span class="fa fa-linkedin fa-fw"></span>
          <a href="https://ca.linkedin.com/in/cosenal">
            <span class="username">Linkedin</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="about">
      ~ <a href="{{ "/about/" | prepend : site.baseurl }}">About this website</a> ~
  </div>

</footer>
