<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
    <!-- <h2 class="footer-heading">Contact</h2> -->
      <ul>
        <li>
          <i class="fa-regular fa-envelope"></i>
          <a
            href="#"
            data-contact="Y29zZW5hbEBnbWFpbC5jb20="
            data-subj="SSBhbSBub3QgYSBib3Q="
            onfocus="this.href = 'mailto:' + atob(this.dataset.contact) + '?subject=' + atob(this.dataset.subj || '')"
            >
            Email
          </a>
        </li>
        <li>
          <i class="fa fa-key"></i>
          <a href="https://keybase.io/cosenal">
            <span class="username">Keybase.io</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}
        <li>
          <i class="fa-brands fa-github-alt"></i>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">Github</span>
          </a>
        </li>
        {% endif %}
        <li>
          <i class="fa fa-stack-exchange fa-fw"></i>
          <a href="https://stackexchange.com/users/437474/alessandro-cosentino?tab=accounts">
            <span class="username">StackExchange</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
    <!-- <h2 class="footer-heading">Links</h2> -->
      <ul>
        {% if site.wordpress_url %}
        <li>
          <i class="fa fa-wordpress fa-fw"></i>
          <a href="{{ site.wordpress_url }}">  
            <span class="username">My blog</span>
          </a>
        </li>
        {% endif %}  
        <li>
          <i class="fa-brands fa-mastodon"></i>
          <a rel="me" href="https://mas.to/@cosenal">
            <span class="username">Mastodon</span>
          </a>
        </li>
        <li>
          <i class="fa fa-linkedin fa-fw"></i>
          <a href="https://ca.linkedin.com/in/cosenal">
            <span class="username">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="about">
      ~ <a href="{{ "/about/" | prepend : site.baseurl }}">About this website</a> ~
  </div>

</footer>
